# Documentation and license
include README.md
include LICENSE

# Application assets
include rewordapp/ui/images/icon_logo.png

# Source files
recursive-include rewordapp *.py
recursive-include rewordapp *.yaml
